@import url(variables.css);
@import url(header.css);
@import url(sidebar.css);
@import url(main.css);
/* Body */
.content{
    display: grid;
    grid-template-columns: var(--tamanoColumn1) 1fr;
    grid-template-rows: var(--altoHeader) 1fr;
    grid-template-areas: 
    "header header"
    "sidebar main";
    height: 100vh;
}


/* MEDIA */
@media (max-width: 1200px){
    .content{
        grid-template-columns: 70px 1fr;
    }
    .sidebar{
        padding-left: 5px;
    }
    .sidebar__texto, .sidebar__titulo{
        display: none;
    }
    .sidebar__items{
        padding: 0;
    }
    .sidebar__item{
        padding: 0 20px;
    }

    .chips-container{
        max-width: calc(100vw - 70px);
    }
}

@media(max-width: 800px){
    .formulario__input, .header__icon--mic{
      display: none;
    }
    .header__icon--search{
        border-radius: var(--bordeRedondo);
    }
}