@import url(variables.css);
/* Body */
.content{
    display: grid;
    grid-template-columns: var(--tamanoColumn1) 1fr;
    grid-template-rows: var(--altoHeader) 1fr;
    grid-template-areas: 
    "header header"
    "sidebar main";
    height: 100vh;
}
/* Todos lo selectores con la clase imagen */
.imagen{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--porcentajeMaximo);
    height: var(--porcentajeMaximo);
    object-fit: contain; 
}

/* Scrollbar */
::-webkit-scrollbar{
    width: 6px; 
}
::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 5px;
}
  

/* HEADER */
.header{
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--colorPrincipal);
    width: var(--porcentajeMaximo);
    height: var(--altoHeader);
    color: var(--colorDefuente);
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}
/* Contendedor logo */
.header__logo-container{
    display: flex;
    align-items: var(--alineacionY);
    gap: var(--separacion);
    height: var(--altoHeader);
    margin-right: 10px;
}
.logo__titulo{
    font-size: 1.5rem;
}
.header__icon{
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: var(--colorPrincipal);
    color: var(--colorDefuente);
    border: none;
    border-radius: var(--bordeRedondo);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: var(--alineacionY);
    justify-content: var(--alineacionX); 
    font-size: 1.5rem;
}
.logo{
    display: flex;
    gap: var(--separacion);
    height: var(--porcentajeMaximo);
    align-items: var(--alineacionY);
    position: relative;
    cursor: pointer;
}
.logo__youtube{
    position: relative;
    width: 30px;
    height: 25px;
}
.logo__titulo{
    letter-spacing: -1.5px;
}
/* contenedor Busquedas */
.search-container{
    display: flex;
    align-items: var(--alineacionY);
    gap: var(--separacion);
    flex: 0 1 685px;
    margin-right: 10px;
}
.search-container__formulario{
    position: relative;
    width: var(--porcentajeMaximo);
    display: flex;
}
.formulario__input{
    height: 40px;
    width: var(--porcentajeMaximo);
    background-color: var(--colorFormulario);
    color: var(--colorDefuente);
    padding: 12px;
    outline: none;
    border: var(--tamanoBordes) var(--tipoBordes) var(--colorBordes);
    border-radius: 40px 0 0 40px; 
}
.header__icon--search{
    min-width: 40px;
    background-color: var(--colorBoton);
    border-radius: 0 40px 40px 0;
}
.header__icon--mic{
    min-width: 40px;
    background-color: var(--colorFormulario);
}
/* Contenedor Perfil */
.profile-container{
    display: flex;
    align-items: var(--alineacionY);
    gap: 25px;
}
.profile-container__imagen{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: var(--bordeRedondo);
}

/* Hover Header */
.header__icon:hover, .header__icon--mic:hover{
    background-color: var(--colorBoton);
    transition: 0.8s;
} 


/* SIDEBAR */
.sidebar{
    grid-area: sidebar;
    background-color: var(--colorSidebar);
    padding-top: 10px;
    overflow-y: scroll;
}
.sidebar__items{
    display: flex;
    flex-direction: column;
    padding: 0 14px ;
}
.sidebar__item{
    height: 40px;
    display: flex; 
    align-items: var(--alineacionY);
    padding: 0 24px;
    padding-left: 20px;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: none;
    color: var(--colorDefuente);
    font-size: 0.9rem;
}
.sidebar__icono{
    margin-right: 24px;
    font-size: 1.5rem;
}
.sidebar__separador{
    margin: 12px 0;
    border: var(--tipoBordes) var(--tamanoBordes) var(--colorBordes);
}
.sidebar__titulo{
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--colorDefuente2);
    margin-left: 20px;
}

/* Hover sidebar */
.sidebar__item:hover{
    background-color: var(--ColorHoversidebar);
}
.sidebar:hover::-webkit-scrollbar-thumb{
    background-color: var(--colorScrollbar);
}


/* MAIN */
.main{
    grid-area: main;
    overflow: hidden;
}


/* Chips container */
.chips-container{
    max-width: calc(100vw - var(--tamanoColumn1));
    overflow-x: scroll;
    background-color: var(--colorSecundario);
    display: flex;
    padding-left: 14px;
    border-top: var(--tamanoBordes) var(--tipoBordes) var(--colorBordes);
    border-bottom: var(--tamanoBordes) var(--tipoBordes) var(--colorBordes);
}
.chips-container__chip{
    margin: 12px 6px;
    background-color: var(--colorChips);
    padding: 6px 12px;
    color: var(--colorDefuente);
    cursor: pointer;
    border-radius: 16px;
    align-items: var(--alineacionY);
    white-space: nowrap;
    font-size: 0.9rem;
    transition: 0.5s;
}

/* Hover chips */
::-webkit-scrollbar{
    height: 6px;
}
.chips-container:hover::-webkit-scrollbar-thumb{
    background-color: var(--colorScrollbar);
}
.chips-container__chip:hover{
    background-color: var(--colorHoverchips);
    color: var(--colorPrincipal);
}


/* Videos Container */
.video-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-template-rows: max-content;
    gap: 18px;
    padding: 20px;
    background-color: var(--colorSecundario);
    overflow-y: scroll;
    height: calc(100vh - 118px);
}
.video-container__content{
    margin-bottom: 25px;
    position: relative;
    width: var(--porcentajeMaximo);
    padding: 8px;
    transition: 1s;
    border-radius: 12px;
}
.video-container__box{
    position: relative;
    width: auto;
    height: 145px;
    display: block;
}
.video-container__image{
    object-fit: cover;
    border-radius: 12px;
}
.video-container__detail{
    display: flex;
    padding-top: 12px;
    color: var(--colorDefuente2);
}
.video-container__channel-logo{
    position: relative;
    min-width: 35px;
    height: 35px;
    border-radius: var(--bordeRedondo);
    overflow: hidden;
}
.video-container__info{
    margin-left: 12px;
    font-size: 0.8rem;
}
.video-container__title{
    font-size: 0.9rem;
    color: var(--colorDefuente);
    margin-bottom: 10px;
}
.video-container__views-upload{
    display: flex;
    margin-top: 4px;
    gap: 5px;
}

/* Hover videos container */
.video-container__content:hover{
    background-color: var(--colorHovervideos);
}


/* MEDIA */
@media (max-width: 1200px){
    .content{
        grid-template-columns: 70px 1fr;
    }
    .sidebar{
        padding-left: 5px;
    }
    .sidebar__texto, .sidebar__titulo{
        display: none;
    }
    .sidebar__items{
        padding: 0;
    }
    .sidebar__item{
        padding: 0 20px;
    }

    .chips-container{
        max-width: calc(100vw - 70px);
    }
}

@media(max-width: 800px){
    .formulario__input, .header__icon--mic{
      display: none;
    }
    .header__icon--search{
        border-radius: var(--bordeRedondo);
    }
}