/* importar tipografia */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --colorDefuente: #fff;
    --colorPrincipal: #202020;
    --colorFormulario: #121212;
    --colorBordes: rgba(255, 255, 255, 0.1);
    --colorBoton: #313131;
    --colorSidebar: #212121;
    --colorDefuente2: #aaa;
    --ColorHoversidebar: #4c4c4c;
    --colorScrollbar: #717171;
    --colorContainerchips: #181818;
    --colorChips: #373737;
    --colorHoverchips: #d4d4d4;
    
    --tamanoColumn1: 240px;
    --altoHeader: 56px;
    --porcentajeMaximo: 100%;
    --separacion: 6px;
    --tamanoBordes: 1px;
    --bordeRedondo: 50%;

    --tipoBordes: solid;
    --alineacionY: center;
    --alineacionX: center;
}